@use "../../../../App.scss" as app;

.GroupsPage {
    .HeaderAndContent {
        .main {
            display: flex;
            width: 100%;
            justify-content: center;
            .container {
                width: 90%;
                h5 {
                    @include app.h5;
                }
                .add__group {
                    margin-top: 30px;
                    @include app.button1(app.$accent__color);
                    padding: 15px 20px;
                }
                .group__list {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 100px;
                    h6 {
                        @include app.h6;
                    }
                    .groups {
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        .group {
                            cursor: pointer;
                            width: 100%;
                            border: 1px solid app.$gray__smooth;
                            box-shadow: app.$gray__smooth__shadow;
                            border-radius: 12px;
                            padding: 20px;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            .absolute__top {
                                position: absolute;
                                top: -20px;
                                font-size: 14px;
                                color: app.$accent__color;
                                font-weight: 700;
                                left: 0;
                            }
                            .name {
                                font-weight: 700;
                                @include app.p;
                            }
                            .bottom {
                                margin-top: 10px;
                                display: flex;
                                flex-direction: column;
                                p {
                                    font-size: 14px;
                                    color: gray;
                                    span {
                                        color: app.$accent__color;
                                        font-weight: 700;
                                    }
                                }
                            }
                            .more {
                                @include app.button1(app.$accent__color);
                                position: absolute;
                                right: 30px;
                                padding: 15px 30px;
                                top: 50%;
                                transform: translateY(-50%);
                                border-radius: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}