@use "../../../../App.scss" as app;


$burgerWidth: 15px;

.BurgerButton {
    box-shadow: app.$gray__smooth__shadow;
    box-sizing: content-box;
    border: 1px solid app.$gray__smooth;
    border-radius: 8px;
    padding: 15px;
    // display: none;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    width: $burgerWidth;
    
    @media (max-width: 1200px) {
        display: flex;
    }
    .inner {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;

        div {
            position: absolute;
            width: 100%;
            transition: .3s all ease-in-out;
            height: 2px;
            background: app.$p__color;
        }

        .top {
            top: calc($burgerWidth / 6);
            transform-origin: left top;
        }

        .center {
            top: calc($burgerWidth / 2);
            left: 0;
            width: calc($burgerWidth / 2);
            // transform: translateY(-50%);
        }

        .bottom {
            top: calc(5 * $burgerWidth / 6);
            transform-origin: left bottom;
        }
    }
}
