@use "../../../../App.scss" as app;

.Teachers {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    .container {
        @include app.container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        h3 {
            @include app.h3;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            grid-gap: 24px;
            @media (max-width: 1002px) {
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            }
            @media (max-width: 683px) {
                grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            }
            .teacher__card {
                transition: .3s ease-in-out all;
                cursor: pointer;
                &:hover {
                    transform: translateY(-10px);
                    transition: .3s ease-in-out all;
                }
                .img {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;
                    img {
                        max-width: 170px;
                        width: 100%;
                    }
                }
                .text {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 8px;
                    h6 {
                        @include app.h6;
                    }
                    p {
                        font-size: 20px;
                        color: app.$p__color;
                        text-align: center;
                    }
                }
            }

            @media (max-width: 917px) {
                transition: .3s ease-in-out all;
                overflow: hidden;
                width: 100%;
                display: flex;
                overflow-x: auto;
                
                padding-bottom: 20px;

                gap: 20px;
                
                &::-webkit-scrollbar {
                    height: 10px;
                    scroll-padding-top: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background: app.$accent__color;
                    border-radius: 100px;
                }
                
                .teacher__card {
                    flex-shrink: 0;
                    width: 180px;
                    &:hover {
                        transform: none;
                        transition: none;
                    }
                }
            }
        }
        @media (max-width: 917px) {
            align-items: center;
        }
    }
}