@use "../../../../App.scss" as app;

.Search {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid app.$gray__smooth;
    border-radius: 12px;
    padding: 10px 15px;
    width: 350px;
    box-shadow: app.$gray__smooth__shadow;
    img {
        width: 20px;
        aspect-ratio: 1 / 1;
    }
    input {
        width: 100%;
        font-size: 14px;
        &::placeholder {
            font-size: 14px;
            color: app.$gray;
        }
    }
}