@use "../../../../App.scss" as app;

.ProfilePage {
    .HeaderAndContent {
        .main {
            display: flex;
            width: 100%;
            justify-content: center;
            .container {
                width: 90%;
                h5 {
                    @include app.h5;
                }
            }
        }
    }
}