@use "../../../../App.scss" as app;


.SideBar {
    transition: .3s ease-in-out width;
    border: 1px solid app.$gray__smooth;
    min-height: 100vh;
    padding: 0px 20px;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: app.$gray__smooth__shadow;
    position: relative;
    span {
        white-space: nowrap;
    }
    .logo {
        transition: .3s ease-in-out all;
        width: 160px;
        padding: 32px 0px;
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: hidden;
        position: relative;
        img {
            width: 50px;

        }
        p {
            @include app.p;
            font-weight: 600;
            white-space: nowrap;
            position: absolute;
            left: 60px;
        }
    }
    .menu {
        max-width: 100px;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        top: 100px;
        .menu__category {
            span {
                text-transform: uppercase;
                color: app.$gray;
                font-size: 16px;
                height: 22px;
                display: block;
            }
            ul {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 30px;
                li {
                    display: flex;
                    .Link {
                        transition: .3s ease-in-out all;
                        overflow: hidden;
                        position: relative;
                        display: flex;
                        width: 180px;
                        padding: 15px 15px;
                        .icon {
                            width: 20px;
                            height: 20px;
                        }
                        .icon * {
                            transition: .3s ease-in-out all;
                        }
                        span {
                            left: 50px;
                            position: absolute;
                            font-weight: 500;
                            font-size: 16px;
                            color: app.$aside__unactive;
                            text-transform: capitalize;
                            transition: .3s ease-in-out;
                        }
                    }
                    &:hover {
                        .Link {
                            .icon * {
                                fill: app.$accent__color__bright;
                                stroke: app.$accent__color__bright;
                            }
                            span {
                                transition: .3s ease-in-out;
                                color: app.$accent__color__bright;
                            }
                        }
                    }
                    &.active {
                        a {
                            .icon * {
                                fill: app.$accent__color;
                                stroke: app.$accent__color;
                            }
                            span {
                                color: app.$accent__color;
                            }
                        }
                    }
                }
            }
        }
        .exit {
            width: 50px;
            margin-top: 30px;
            a {
                width: 150px;
                overflow: hidden;
                position: relative;
                display: flex;
                transition: .3s ease-in-out all;
                padding: 15px 15px;
                .icon {
                    width: 20px;
                    height: 20px;
                }
                .icon * {
                    transition: .3s ease-in-out all;
                }
                span {
                    left: 50px;
                    position: absolute;
                    font-weight: 500;
                    font-size: 16px;
                    color: app.$aside__unactive;
                    text-transform:capitalize;
                    transition: .3s ease-in-out;
                    
                }
            }
            &:hover {
                .icon * {
                    transition: .3s ease-in-out all;
                    // fill: app.$accent__color__bright;
                    stroke: app.$accent__color__bright;
                }
                a {
                    span {
                        transition: .3s ease-in-out;
                        color: app.$accent__color__bright;
                    }
                }
            }
            &.active {
                .Link {
                    span {
                        transition: .3s ease-in-out;
                        color: app.$accent__color;
                    }
                }
            }
        }
    }
    &.active {
        transition: .3s ease-in-out all;
        width: 90px;
        .logo {
            transition: .3s ease-in-out all;
            width: 50px;
        }
        .menu {
            max-width: 40px;
            .menu__category {
                .category {
                    display: block;
                    font-size: 20px;
                    width: 100%;
                    text-align: center;
                }
                ul {
                    display: flex;
                    align-items: flex-start;
                    li {
                        .Link {
                            transition: .3s ease-in-out all;
                            width: 50px;
                            .icon {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
        .exit {
            .Link {
                width: 50px;
                overflow: hidden;
                position: relative;
                display: flex;
                padding: 15px 15px;
            }
        }
    }
}
