@font-face {
    font-family: "Inter";
    src: url("./assets//fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Source Sans 3";
    src: url("./assets/fonts/sourcesans3/SourceSans3-VariableFont_wght.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    color: inherit;
}

* {
    font-family: "Source Sans 3";
    line-height: 1
}

body {
    min-height: 100vh;
}

p {
    line-height: 1.3;
}

$accent__color: #8D79F3;
$accent__color__bright: #b1a5ee;
$accent__color__dark: #7b64ed;

$aside__unactive: #676685;
$accordion__bg__active: #F0ECFF;

$warning__green: rgb(58, 175, 58);
$warning__green__dark: rgb(13, 125, 13);


$warning__red: #E74C3C;
$warning__red__dark: #aa1b0b;



$gray__smooth: #E4E7EC;
$gray__smooth__shadow: 0px 1px 2px 0px rgba(16,24,40, .05);


$p__color: #333333;
$footer: #4d4d4d;

$gray: #A7A7A7;

//1920-320px 


@mixin h1 {
    font-size: clamp(3rem, 2.6rem + 2vw, 5rem);
    font-weight: 600;
}

//80-48

@mixin h2 {
    font-size: clamp(2.5rem, 2.2rem + 1.5vw, 4rem);
    font-weight: 600;
}

//64-40

@mixin h3 {
    font-size: clamp(2.25rem, 2.1rem + 0.75vw, 3rem);
    font-weight: 600;
}

//48-36

@mixin h4 {
    font-size: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
    font-weight: 600;
}

//40-32

@mixin h5 {
    font-size: clamp(1.75rem, 1.65rem + 0.5vw, 2.25rem);
    font-weight: 600;
}
//36-28

@mixin h6 {
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
    font-weight: 600;
}
//32-24

@mixin p {
    font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
    color: $p__color;
}

//24-18


@mixin container {
    width: 1440px;
    @media (max-width: 1500px) {
        width: 95%;
    }
}

@mixin button1($bg_col) {
    background: $bg_col;
    padding: 15px 0px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-in-out all;
    &:hover {
        transition: .3s ease-in-out all;
        background: $accent__color__dark;
    }
}