@use "../../../../../../App.scss" as app;

.GroupPage {
    .HeaderAndContent {
        .main {
            display: flex;
            width: 100%;
            justify-content: center;
            .container {
                width: 90%;
                h5 {
                    @include app.h5;
                }
                .buttons {
                    display: flex;
                    gap: 10px;
                    button {
                        margin-top: 30px;
                        @include app.button1(app.$accent__color);
                        padding: 15px 30px;
                    }
                }
                .table__outer {
                    margin-top: 50px;
                    .table__header {
                        p {
                            @include app.p;
                            font-weight: 500;
                            span {
                                color: app.$accent__color;
                                font-weight: 700;
                            }
                        }
                    }
                    .table__abertka {
                        position: relative;
                        min-width: max-content;
                        @include app.table__abertka;
                        table {
                            margin-top: 20px;
                            tbody {
                                tr {
                                    outline: none;
                                    &:hover {
                                        outline: none;
                                    }
                                    td {
                                        &.grade {
                                            cursor: pointer;
                                            transition: .3s ease-in-out all;
                                            outline: 1px solid transparent;
                                            &:hover {
                                                transition: .3s ease-in-out all;
                                                outline: 1px solid app.$accent__color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .add__button {
                            position: absolute;
                            transform: translateY(-50%);
                            top: 50%;
                            right: -25px;
                            background: white;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            width: 50px;
                            aspect-ratio: 1 / 1;
                            border: 1px solid app.$gray__smooth;
                            box-shadow: app.$gray__smooth__shadow;
                            .icon {
                                width: 15px;
                                height: 15px;
                                fill: app.$accent__color;
                            }
                        }
                    }
                }
                .lessons {
                    margin-top: 100px;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    margin-bottom: 20px;
                    .category {
                        h6 {
                            margin-bottom: 20px;
                            @include app.h6;
                            font-size: 24px;
                            color: app.$accent__color;
                        }
                        .lessons_container {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            .lesson {
                                width: 100%;
                                border: 1px solid app.$gray__smooth;
                                box-shadow: app.$gray__smooth__shadow;
                                border-radius: 12px;
                                padding: 20px;
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                .absolute__top {
                                    position: absolute;
                                    top: -20px;
                                    font-size: 14px;
                                    color: app.$accent__color;
                                    font-weight: 700;
                                    left: 0;
                                }
                                .name {
                                    font-weight: 700;
                                    @include app.p;
                                }
                                .bottom {
                                    margin-top: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    p {
                                        font-size: 14px;
                                        color: gray;
                                        span {
                                            color: app.$accent__color;
                                            font-weight: 700;
                                        }
                                    }
                                }
                                .more {
                                    @include app.button1(app.$accent__color);
                                    position: absolute;
                                    right: 30px;
                                    padding: 15px 30px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    border-radius: 12px;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}