@use "../../../../../../App.scss" as app;

.GroupPage {
    .HeaderAndContent {
        .main {
            display: flex;
            width: 100%;
            justify-content: center;
            .container {
                width: 90%;
                h5 {
                    @include app.h5;
                }
                .table__outer {
                    margin-top: 40px;
                    .table__header {
                        p {
                            @include app.p;
                            font-weight: 500;
                            span {
                                color: app.$accent__color;
                                font-weight: 700;
                            }
                        }
                    }
                    .table__abertka {
                        position: relative;
                        min-width: max-content;
                        @include app.table__abertka;
                        table {
                            tbody {
                                tr {
                                    outline: none;
                                    &:hover {
                                        outline: none;
                                    }
                                    td {
                                        &.grade {
                                            cursor: pointer;
                                            transition: .3s ease-in-out all;
                                            outline: 1px solid transparent;
                                            &:hover {
                                                transition: .3s ease-in-out all;
                                                outline: 1px solid app.$accent__color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .add__button {
                            position: absolute;
                            transform: translateY(-50%);
                            top: 50%;
                            right: -25px;
                            background: white;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            width: 50px;
                            aspect-ratio: 1 / 1;
                            border: 1px solid app.$gray__smooth;
                            box-shadow: app.$gray__smooth__shadow;
                            .icon {
                                width: 15px;
                                height: 15px;
                                fill: app.$accent__color;
                            }
                        }
                    }
                }
            }
            
        }
    }
}